:root{
  --bg-color: #CDCCCA; /* cloud */
  --main-text-color: #2D3118; /* Black Olive */
  --transparent-text-color: rgba(45, 49, 24, 0.5); /* Black Olive with 50% opacity */
  --secondary-text-color: #827826; /* Crete */
  --accent-color: #544D2b; /* Woodland */
  --transparent-accent-color: rgba(84, 77, 43, 0.5); /* Woodland with 50% opacity */
}

.choice-container {
  display: flex; /* flexbox */
  margin-bottom: 0.5rem; /* 5px */
  width: 100%; /* 100% of the container */
  font-size: 1.8rem; /* 18px */
  border: 0.1rem solid var(--transparent-accent-color); /* 1px solid Woodland with 50% opacity */
  /* background-color: white; */
}

.choice-container:hover {
  cursor: pointer; /* change cursor to pointer */
  box-shadow: 0 0.4rem 1.4rem 0 var(--transparent-text-color); /* 0 4px 14px 0 Black Olive with 50% opacity */
  transform: translateY(-0.2rem); /* move up 2px */
  transition: transform 150ms; /* transition for 150ms */
}

.choice-prefix {
  padding: 1.5rem 2.5rem; /* 15px 25px */
  background-color: var(--secondary-text-color); /* Crete */
  color: white; /* white */
}

.choice-text {
  padding: 1.5rem 2.5rem; /* 15px 25px */
  /* color: var(--main-text-color); Black Olive */
  background-color: white;
  width: 100%; /* 100% of the container */
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}
