/* root styling */
:root {
    --bg-color: #CDCCCA; /* cloud */
    --main-text-color: #2D3118; /* Black Olive */
    --transparent-text-color: rgba(45, 49, 24, 0.5); /* Black Olive with 50% opacity */
    --secondary-text-color: #827826; /* Crete */
    --accent-color: #544D2b; /* Woodland */
    font-size: 62.5%; /* now 1rem is 10px for easy math later */ 
}
/* Select All */
* {
    background-color: var(--bg-color); /* off-white */
    color: var(--main-text-color); /* teal */
    margin: 0; /* remove default margin */
    padding: 0; /* remove default padding */
    box-sizing: border-box; /* make padding and border part of the element's width and height */
}

/* Style the headings h1-h4 */
h1, h2, h3, h4 {
    font-size: 5.4rem; /* 54px */
    color: var(--main-text-color); /* teal */
    margin-bottom: 5rem; /* 50px */
}
/* style the span inside the h1 */
h1 > span {
    font-size: 2.4rem; /* 24px */
    font-weight: 500; /* semi-bold */
}
/* style the h2 */
h2 {
    font-size: 4.2rem; /* 42px */
    margin-bottom: 4rem; /* 40px */
    font-weight: 700; /* bold */
}
/* style the h3 */
h3 {
    font-size: 2.8rem; /* 28px */
    font-weight: 500; /* semi-bold */
}

/* Utilities */
/* utility class wrapper */
/* As the screen gets larger than 80rem, the wrapper will be centered */
/* As the screen gets smaller than 80rem, the wrapper will be full width */
.container { 
    display: flex; /* flexbox */
    justify-content: center;   /* center horizontally */
    align-items: center;  /* center vertically */
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    max-width: 80rem; /* 80rem = 1280px */
    margin: 0 auto; /* center horizontally */
    padding: 2.5rem; /* 25px */
}
/* any child of the .container class will be 100% of the width of the container */
/* this ensures that the content remains centered */ 
container > * {
    width: 100%; /* 100% of the container */
}

.flex-column {
    display: flex; /* flexbox */
    flex-direction: column; /* column */
}

.flex-center {
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
}

.justify-center {
    justify-content: center; /* center horizontally */
}

.text-center {
    text-align: center; /* center text */
}

.hidden {
    display: none; /* hide the element */
}

/* style the buttons */
.btn {
    font-size: 1.8rem; /* 18px */
    padding: 1rem 0; /* 10px top and bottom, 0 left and right */
    width: 20rem; /* 200px */
    text-align: center; /* center text */
    border: 0.1rem solid var(--main-text-color); /* 1px solid Black Olive */
    margin-bottom: 1rem; /* 10px */
    text-decoration: none; /* remove underline */
    color: var(--main-text-color); /* Black Olive */
    background-color: white;    /* white */
    border-radius: 2rem; /* rounds the corners */
}

/* add hover effects */
.btn:hover {
    cursor: pointer; /* change cursor to pointer */
    box-shadow: 0 0.4rem 1.4rem 0 var(--transparent-text-color); /* 0 4px 14px 0 Black Olive with 50% opacity */
    transform: translateY(-0.2rem); /* move up 2px */
    transition: transform 150ms; /* transition for 150ms */
}

/* add disabled button styles for later */
btn[disabled] {
    cursor: not-allowed; /* change cursor to not-allowed */
    box-shadow: none;
    transform: none;
}