/* root styling */
:root {
    --bg-color: #CDCCCA;
    /* cloud */
    --main-text-color: #2D3118;
    /* Black Olive */
    --transparent-text-color: rgba(45, 49, 24, 0.5);
    /* Black Olive with 50% opacity */
    --secondary-text-color: #827826;
    /* Crete */
    --accent-color: #544D2b;
    /* Woodland */
    font-size: 62.5%;
    /* now 1rem is 10px for easy math later */
}

/* Select All */
* {
    background-color: var(--bg-color);
    /* off-white */
    color: var(--main-text-color);
    /* teal */
    margin: 0;
    /* remove default margin */
    padding: 0;
    /* remove default padding */
    box-sizing: border-box;
    /* make padding and border part of the element's width and height */
}

/* Style the headings h1-h4 */
h1,
h2,
h3,
h4 {
    font-size: 5.4rem;
    /* 54px */
    color: var(--main-text-color);
    /* teal */
    margin-bottom: 5rem;
    /* 50px */
}

/* style the span inside the h1 */
h1>span {
    font-size: 2.4rem;
    /* 24px */
    font-weight: 500;
    /* semi-bold */
}

/* style the h2 */
h2 {
    font-size: 4.2rem;
    /* 42px */
    margin-bottom: 4rem;
    /* 40px */
    font-weight: 700;
    /* bold */
}

/* style the h3 */
h3 {
    font-size: 2.8rem;
    /* 28px */
    font-weight: 500;
    /* semi-bold */
}

/* Utilities */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2.5rem;
}

/* any child of the .container class will be 100% of the width of the container */
/* this ensures that the content remains centered */
container>* {
    width: 100%;
    /* 100% of the container */
}

.flex-column {
    display: flex;
    /* flexbox */
    flex-direction: column;
    /* column */
}

.flex-center {
    justify-content: center;
    /* center horizontally */
    align-items: center;
    /* center vertically */
}

.justify-center {
    justify-content: center;
    /* center horizontally */
}

.text-center {
    text-align: center;
    /* center text */
}

.hidden {
    display: none;
    /* hide the element */
}

/* style the buttons */
.btn {
    font-size: 1.8rem;
    /* 18px */
    padding: 1rem 0;
    /* 10px top and bottom, 0 left and right */
    width: 20rem;
    /* 200px */
    text-align: center;
    /* center text */
    border: 0.1rem solid var(--main-text-color);
    /* 1px solid Black Olive */
    margin-bottom: 1rem;
    /* 10px */
    text-decoration: none;
    /* remove underline */
    color: var(--main-text-color);
    /* Black Olive */
    background-color: white;
    /* white */
    border-radius: 2rem;
    /* rounds the corners */
}

/* add hover effects */
.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 var(--transparent-text-color);
    transform: translateY(-0.2rem);
    transition: transform 150ms;
}

h1~p {
    font-size: 2rem;
    padding-bottom: 5%;
}

/* Form */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    background-color: aliceblue;
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 var(--transparent-text-color);
}

input::placeholder {
    color: #898282;
    text-align: center;
    /* Crete */
}

input:focus {
    outline: none;
    border: solid 2px var(--accent-color);
}

.btn.disabled {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
    opacity: 0.5; /* Optional: reduce the opacity to make it look visually disabled */
  }
  